* {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

div {
  border: none;
}

a {
  font-family: "Rubik";
  text-decoration: none;
}

ul li {
  font-size: 30px;
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-family: "Rubik";
}

/* Header */

.logo {
  max-width: 100px;
  max-height: 100px;
}

.menu {
  max-width: 95vw;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  color: black;
}

.menu-logo {
  font-size: 24px;

  margin: 0 10px;
}

.menu-logo a {
  color: #86b670;
  font-weight: bold;
  font-size: 24px;
}

.menu-logo a:hover {
  color: rgb(38, 149, 153);
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
}

.menu-nav a {
  font-family: "Rubik";
  font-size: 18px;
  display: block;
  padding: 10px;
  font-weight: bold;
}

.menu-nav a:hover {
  color: rgb(38, 149, 153);
}

/*Sobre*/

.sobre {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
  display: flex;
  flex-wrap: wrap;
}

.sobre-info {
  flex: 2 1 300px;
  margin: 0 10px;
}

.sobre-info h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.sobre-info p {
  font-size: 1.25em;
  line-height: 1.4;
  margin-bottom: 1em;
  color: #7c7c7c;
}

.sobre-img {
  flex: 600px;
  margin: 0 10px;
}

.sobre2-img {
  padding-top: 100px;
}

.sobrep {
  display: flex;
  flex-wrap: wrap;
  max-width: 200px;
}

.p1 {
  display: block;
  position: absolute;
  width: 40%;
  height: 60%;
  color: black;
  bottom: 100px;
  left: 10%;
  font-family: "Rubik";
  color: white;
  font-size: 36px;
  font-weight: bold;
}

/* Footer */

.footer {
  width: 100%;
  background: #000;
  color: #fff;
  padding: 5px 0;
}

.footer_redes ul li {
  display: inline-block;
  margin-right: 10px;
}
.footer_redes ul li a {
  display: flex;
  padding: 10px;
  padding-left: 300px;
}
