body {
  padding: 0;
  margin: 0;
}

div {
  border: none;
}

/*a {
  text-decoration: none;
  font-size: 30px;
  font-family: "Nunito";
  padding-top: 10px;
}*/

nav {
  text-decoration: none;
  font-size: 30px;
  font-family: "Nunito";
  padding-top: 10px;
}

p {
  font-family: "Nunito";
  text-align: center;
  padding-top: 1px;
  font-size: 20px;
}

#menulogo {
  font-family: "Nunito";
  color: white;
  display: flex;
  padding-top: 5px;
  padding-left: 20px;
}

#header1 {
  background-color: black;
  display: flex;
  height: 75px;
  justify-content: space-between;
}

.container-do-search {
  margin-top: 25px;
  height: 100px;
  color: white;
}
.borda {
  border: none;
  border-bottom: 2px solid white;
}
.icone {
  height: 12px;
  color: white;
  background-color: turquoise;
}
.icone:hover {
  opacity: 0.5;
}
.icone:active {
  opacity: 1;
}

.container2 {
  display: flex;
  flex-direction: row;
  border: none;
  flex-wrap: wrap;
  padding: 50px;
  justify-content: space-between;
  background-color: white;
}

.container3 {
  display: flex;
  height: 100px;
  background-color: white;
}

.container4 {
  background-color: black;
  height: 75px;
  bottom: 0;
}

.mediablock {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-bottom: 10px;
  height: 250px;
}

.foto {
  display: flex;
  width: 300px;
  height: 200px;
  display: flex;
}

.text {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  font-size: 10px;
}

#rodape {
  padding-top: 20px;
  font-size: 20px;
  color: white;
}

.video {
  display: flex;
  justify-content: center;
  padding: 10px;
}

#back-button {
  background-color: white;
  width: 100px;
  height: 20px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 10px;
  color: black;
  display: block;
  margin: auto;
  margin-top: 50px;
  outline: none;
}
#back-button:hover {
  background-color: #635a3d;
}

h1 {
  display: block;
  text-align: center;
  font-family: "nunito";
  margin: auto;
  margin-top: 20px;
}
